numpy/01_introduction_python.key
/01_introduction_python.pdf
.DS_Store
/01_introduction_python.key
/__pycache__
04a_matplotlib_basics_appunti.ipynb
02_numpy_appunti.py
python_ARPAL-3.code-workspace
04b_datetime_luca.ipynb
04a_matplotlib_basics.ipynb
04c_pandas_matplotlib_luca.ipynb
04a_matplotlib_basics_luca.ipynb
/data/NARR_19930313_0000.nc
/data/SPI_Liguria__d18_probs_5c.pkl
/data/WW3_mediterr_19980701.nc
/data/WW3_mediterr_20091201.grb2
/data/Linea_di_costa.dbf
/data/Linea_di_costa.prj
/data/Linea_di_costa.shp
/data/Linea_di_costa.shx
